@text_color : #999;
@text-size : 13px;
@disable_text_color : #dfdfdf;
@btn_border_color : #ccc;
@disable_border_color : #dfdfdf;
@disable_bg_color : #fff;
@btn-border-radius : 3px;



@hover_txt_color : #fff;
@hover_bg_color: #31ace2;
@hover_border_color : #31ace2;
@active_txt_color: #31ace2;
@active_bg_color :#f0fdff;
@active_border_color : #31ace2;

@goipt-border-color:#dfdfdf;
@goipt-txt-color:#999;
@go-ipt-width : 36px;
@go-ipt-height:14px;
@goipt-foucs-border-color : #31ace2;
@gobtn-bg-color : @hover_bg_color;
@gobtn-txt-color:@hover_txt_color;